<template>
  <div>
    <div class="main-component">
      <router-view
        v-on:completedLogIn="completedLogIn"
        v-on:completedSignUp="completedSignUp"
        v-on:logOut="logOut"
      >
      </router-view>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
  data: function() {
    return {
      is_auth: false,
    };
  },
  components: {},
  methods: {
    verifyAuth: function() {
      this.is_auth = localStorage.getItem("isAuth") || false;
      if (this.is_auth == false) this.$router.push({ name: "logIn" });
      else this.$router.push({ name: "admin" });
    },
    loadHome: function() {
      this.$router.push({ name: "admin" });
    },
    loadLogIn: function() {
      this.$router.push({ name: "logIn" });
    },
    
    logOut: function() {
      localStorage.clear();
      this.verifyAuth();
    },
    completedLogIn: function(data) {
      localStorage.setItem("isAuth", true);
      localStorage.setItem("username", data.username);
      localStorage.setItem("token_access", data.token_access);
      localStorage.setItem("token_refresh", data.token_refresh);
      this.verifyAuth();
    },
    completedSignUp: function(data) {
      this.completedLogIn(data);
    },
  },
  created: function() {
    this.verifyAuth();
  },
};
</script>

<style scoped>
body {
  margin: 0 0 0 0;
}
.header {
  margin: 0;
  padding: 0;
  width: 0 auto;
  height: 5vh;
  min-height: 80px;
  background: #212121;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  margin-left: 5%;
  text-align: center;
}
.header nav {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}
.header button{
   width: 120px;
}
.main-component {
  height: 75vh;
  margin: 0%;
  padding: 0%;
  background: #fdfefe;
}
.footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 10vh;
  min-height: 100px;
}
.footer h2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
