<template>
  <div class="container">
    <h2 class="d-flex justify-content-center">Tabla de Donaciones</h2>         
    <table class="table table-striped w-100">
      <thead>
        <tr>
          <th>id</th>
          <th>fechaDonación</th>
          <th>monto</th>
          <th>metodoPago</th>
          <th>Emergencia</th>
          <th>nombresDonante</th>
          <th>dirección</th>
          <th>eMail</th>
          <th>celular</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item,index) in array" :key="index">
          <td>{{item.idDonacion}}</td>
          <td>{{item.fechaDonación}}</td>
          <td>{{item.monto}}</td>
          <td>{{item.metodoPago}}</td>
          <td>{{item.nombreEmergencia}}</td>
          <td>{{item.primerNombreDonante + " " + item.segundoNombreDonante + " " + item.primerApellidoDonante + " " + item.segundoApellidoDonante}}</td>
          <td>{{item.dirección + "." + item.departamento}}</td>
          <td>{{item.eMail}}</td>
          <td>{{item.celular}}</td>
        </tr>
      </tbody>
    </table> 
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Donaciones",
  data: function() {
    return {
      array: []
    };
  },
  methods: {
    listarDonaciones: function() {
      axios
        .get("https://back-donaciones-co.herokuapp.com/api/donaciones/")
        .then((result) => {
          this.array = result.data;
        })
        .catch((error) => {
            alert("NO LEIDOS LOS DATOS");
        });
    },
  },
  created: function() {
    this.listarDonaciones();
  },
};
</script>