<template>
  <div class="container">
    <h2 class="d-flex justify-content-center">Tabla de Emergencias</h2>         
    <table class="table table-striped w-100">
      <thead>
        <tr>
          <th>id</th>
          <th>emergencia</th>
          <th>departamento</th>
          <th>municipio</th>
          <th>fechaCreacion</th>
          <th>fechaVencimiento</th>
          <th>montoObjetivo</th>
          <th>montoRecaudado</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item,index) in array" :key="index">
          <td>{{item.idEmergencia}}</td>
          <td>{{item.nombreEmergencia}}</td>
          <td>{{item.departamento}}</td>
          <td>{{item.municipio}}</td>
          <td>{{item.fechaCreacion}}</td>
          <td>{{item.fechaVencimiento}}</td>
          <td>{{item.montoObjetivo}}</td>
          <td>{{item.montoRecaudado}}</td>
        </tr>
      </tbody>
    </table> 
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Emergencias",
  data: function() {
    return {
      array: []
    };
  },
  methods: {
    listarEmergencias: function() {
      axios
        .get("https://back-donaciones-co.herokuapp.com/api/emergenciaDonaciones/")
        .then((result) => {
          this.array = result.data;
        })
        .catch((error) => {
            alert("NO LEIDOS LOS DATOS");
        });
    },
  },
  created: function() {
    this.listarEmergencias();
  },
};
</script>