<template>
  <div class="container">
    <h2 class="d-flex justify-content-center">Tabla de Metodos de pago</h2>
    <div class="boton">

      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ModalAgregar">Agregar</button >
      <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#ModalEditar">Editar</button>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ModalEliminar">Eliminar</button>

      <div class="modal fade" id="ModalAgregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Nuevo método de pago</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">metodoPago</label>
                  <input type="text" class="form-control" id="recipient-name" v-model="metodoPago" required>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-success" v-on:click="AgregarMetodoPago" data-bs-dismiss="modal">Agregar</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="ModalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editar método de pago</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">id</label>
                  <input type="text" class="form-control" id="recipient-name" v-model="editarMetodoPago.idMetodoPago" required>
                </div>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">metodoPago</label>
                  <input type="text" class="form-control" id="recipient-name" v-model="editarMetodoPago.metodoPago" required>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-info" v-on:click="EditarMetodoPago" data-bs-dismiss="modal">Editar</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="ModalEliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Eliminar método de pago</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">id</label>
                  <input type="text" class="form-control" id="recipient-name" v-model="idEliminar" required>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-danger" v-on:click="EliminarMetodoPago" data-bs-dismiss="modal">Eliminar</button>
            </div>
          </div>
        </div>
      </div>

    </div>         
    <table class="table table-striped w-100">
      <thead>
        <tr>
          <th>id</th>
          <th>metodoPago</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item,index) in array" :key="index">
          <td>{{item.idMetodoPago}}</td>
          <td>{{item.metodoPago}}</td>
        </tr>
      </tbody>
    </table> 
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "MetodosPago",
  data: function() {
    return {
      array: [],
      metodoPago: "",
      editarMetodoPago: {
        idMetodoPago: "",
        metodoPago: ""
      },
      idEliminar: "",
    };
  },
  methods: {
    listarMetodosPago: function() {
      axios
        .get("https://back-donaciones-co.herokuapp.com/api/MetodoPago/")
        .then((result) => {
          this.array = result.data;
        })
        .catch((error) => {
            alert("NO LEIDOS LOS DATOS");
        });
    },
    AgregarMetodoPago: function() {
      axios
        .post("https://back-donaciones-co.herokuapp.com/api/MetodoPago/", {metodoPago: this.metodoPago}, {
          headers: {},
        })
        .then((result) => {
          this.metodoPago = "";
          this.listarMetodosPago();
        })
        .catch((error) => {
            alert("DATO NO AGREGADO");
        });
    },
    EditarMetodoPago: function() {
      axios
        .put("https://back-donaciones-co.herokuapp.com/api/MetodoPago/"+encodeURIComponent(this.editarMetodoPago.idMetodoPago), {metodoPago: this.editarMetodoPago.metodoPago}, {
          headers: {},
        })
        .then((result) => {
          this.editarMetodoPago.idMetodoPago = "";
          this.editarMetodoPago.metodoPago = "";
          this.listarMetodosPago();
        })
        .catch((error) => {
            alert("DATO NO ACTUALIZADO");
        });
    },
    EliminarMetodoPago: function() {
      axios
        .delete("https://back-donaciones-co.herokuapp.com/api/MetodoPago/"+encodeURIComponent(this.idEliminar))
        .then((result) => {
          this.idEliminar = "";
          this.listarMetodosPago();
        })
        .catch((error) => {
            alert("DATO NO ACTUALIZADO");
        });
    },
  },
  created: function() {
    this.listarMetodosPago();
  },
};
</script>

<style scoped>
  .boton {
    display: flex;
    justify-content: end;
    gap: 10px;
  }
</style>