<template>
  <header>
    <div><img src="./assets/logo-donaciones.png" class="logo" /></div>
    <div class="titulo">
      <h3>Donaciones Colombia</h3>
    </div>
    <div class="routers">
      <router-link to="/" class="router">Home</router-link> |
      <router-link to="/about" class="router">About</router-link>
    </div>
  </header>
  <div class="fondo">
    <h3>Porque las pequeñas acciones hacen la diferencia</h3>
  </div>
  <hr />
  <router-view />
</template>

<script>
//   import "bootstrap/dist/css/bootstrap.min.css";
//   import "bootstrap/dist/js/bootstrap.bundle.min.js";

//   export default {
//   name: "Home",
//   components: {
//     EmergenciaCard,
//   },
</script>


<style>
header {
  background-color: black;
  padding: 20px 10px;
  display: flex;
  align-items: center;
}

.titulo {
  padding-left: 10px;
  text-align: center;
  color: white;
}

.logo {
  width: auto;
  height: 5em;
}

.routers {
  padding: 12px;

  line-height: 25px;
  border-radius: 4px;
  margin: 0 0 0 auto;
}

.router {
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid white;
  border-radius: 7%;
  text-decoration: none;
  padding: 7px;
}

.router:hover {
  color: black;
  background-color: white;
}

.fondo {
  background-image: url('./assets/ayuda-humanitaria.jpg');
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fondo h3 {
  color: #fdf6ec;
  font-size: 45px;
  font-weight: 600;
  text-shadow: 2px 1px 0 black;
}

hr {
  border: 15px;
}
</style>
