<template>
  <div class="home">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <EmergenciaCard
        v-for="emergencia in emergencias"
        :key="emergencia.idEmergencia"
        :emergencia="emergencia"
      />
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import EmergenciaCard from '@/components/EmergenciaCard.vue'
import EmergenciaService from '@/services/EmergenciaService.js'
import 'bootstrap/dist/css/bootstrap.min.css'
import 'bootstrap/dist/js/bootstrap.bundle.min.js'

export default {
  name: 'Home',
  components: {
    EmergenciaCard,
  },

  data() {
    return {
      emergencias: null,
    }
  },

  // It is a method of the lifecycle hook and get the data when the component is created
  created() {
    EmergenciaService.getEvents()
      .then((response) => {
        this.emergencias = response.data
      })
      .catch((error) => {
        console.log(error)
      })
  },
}
</script>
