<template>
  <div class="grid-container">
    <div class="shadow">
      <div>
        <div class="logo">
          <img src="../assets/logo.png" alt="Logo" class="icono">
          <span class="display-8 d-flex justify-content-center mb-2 fw-bold text-secondary">Donaciones Co</span>
        </div>
        <button class="card" v-if="!is_auth" v-on:click="loadDonaciones">
          <span class="fst-italic fs-5">Donaciones</span>
        </button>
        <button class="card" v-if="!is_auth" v-on:click="loadEmergencias">
          <span class="fst-italic fs-5">Emergencias</span>
        </button>
        <button class="card" v-if="!is_auth" v-on:click="loadMetodosPago">
          <span class="fst-italic fs-5">Metodos Pago</span>
        </button>
        <button class="card" v-if="!is_auth" v-on:click="salir">
          <img src="../assets/apagar.png" alt="salir" style="height: 30%;width: 20%;">
          <span class="fst-italic fs-5">Salir</span>
        </button>
      </div>
    </div>
    <div class="fondo d-flex justify-content-center ">
      <div class="mt-5 pt-3">
        <donaciones v-if="vista[0]"/>
        <emergencias v-if="vista[1]"/>
        <metodosPago v-if="vista[2]"/>
      </div>
    </div>
  </div>
</template>
<script>
import Donaciones from "./Admin/Donaciones.vue";
import Emergencias from "./Admin/Emergencias.vue";
import MetodosPago from "./Admin/MetodosPago.vue";
export default {
  name: "Admin",
  data: function() {
    return {
      vista: [false,false,false,false]
    };
  },
  components: {
    Donaciones,
    Emergencias,
    MetodosPago
  },
  methods: {
    salir: function() {
      this.$emit("logOut");
    },
    loadDonaciones: function() {
      this.vista = [true,false,false,false];
    },
    loadEmergencias: function() {
      this.vista = [false,true,false,false];
    },
    loadMetodosPago: function() {
      this.vista = [false,false,true,false];
    },
    loadAdmins: function() {
      this.vista = [false,false,false,true];
    },

  },
  created: function() {
    this.vista = [true,false,false,false];
  },
};
</script>

<style scoped>
.grid-container {
  display: grid;
  grid-template-columns: 15% 85%
}
.logo {
  background-color: #e2e2e2;
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 0;
  color: #283747;
  border-bottom: 3px solid burlywood;
}
.icono {
  height: 80%;
  width: 50%;
}
.card{
  background-color: #e2e2e2;
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  color: #283747;
  border-bottom: 3px solid burlywood;
}
.card:hover{
  background-color: #7c7673;
  border-bottom: 3px solid saddlebrown;
  color: #e2e2e2;
}
.fondo{
  background-image: url("../assets/fondo.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
