<template>
<div class="principal">
  <div class="col-4 shadow-lg border-top border-bottom bg-light">
    <div class="border-top d-flex justify-content-center align-items-center">
      <img src="../assets/logo.png" alt="logo" style="height: 90%;  width: 40%;">
    </div>
    <div class="p-5 pb-2 pt-0 bg-light">
      <h2 class="display-6 d-flex justify-content-center mb-3 fw-bold text-secondary">Donaciones Co</h2>
      <form v-on:submit.prevent="processLogInUser">
        <div class="p-2">
          <p class="form-text text-first mb-1">Ingrese su usuario</p>
          <div class="row input-group ps-2">
            <span class="col-2 d-flex justify-content-center align-items-center border rounded-start" style="background-color: #ebebe0;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
            </span>
            <input type="text" class="col form-control" v-model="user.username" placeholder="Usuario" required/>
          </div>
        </div>
        <div class="p-2">
          <p class="form-text text-first mb-1">Ingrese su contraseña</p>
          <div class="row input-group ps-2">
            <span class="col-2 d-flex justify-content-center align-items-center border rounded-start" style="background-color: #ebebe0;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-unlock-fill" viewBox="0 0 16 16">
              <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2z"/>
            </svg>
            </span>
            <input type="password" class="col form-control" v-model="user.password" placeholder="Contraseña" required/>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="col-6 btn btn-secondary m-4 shadow">Iniciar Sesion</button>
        </div>
      </form>
    </div>
    <div class="border-bottom d-flex justify-content-center p-3" style="background: #323643;">
      <router-link class="text-secondary fst-italic" to="/user/signUp">Registrarse</router-link>
    </div>
  </div>
</div>
</template>

<script>
import axios from "axios";
export default {
  name: "LogIn",
  data: function() {
    return {
      user: {
        username: "",
        password: "",
      },
    };
  },
  methods: {
    processLogInUser: function() {
      axios
        .post("https://back-donaciones-co.herokuapp.com/api/login/", this.user, {
          headers: {},
        })
        .then((result) => {
          let dataLogIn = {
            username: this.user.username,
            token_access: result.data.access,
            token_refresh: result.data.refresh,
          };
          this.$emit("completedLogIn", dataLogIn);
        })
        .catch((error) => {
          if (error.response.status == "401")
            alert("ERROR 401: Credenciales Incorrectas.");
        });
    },
  },
};
</script>

<style scoped>
.principal{
  height:100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
}
.border-top {
  border-start-end-radius: 30px;
  border-start-start-radius: 30px;
}

.border-bottom {
  border-end-start-radius: 30px;
  border-end-end-radius: 30px;
}
</style>
