<template>
  <form class="donacion-formato" @submit.prevent="onSubmit">
    <div class="form-group">
      <label for="inputDonacion">Monto de la Donación</label>
      <input
        type="number"
        class="form-control"
        id="inputDonacion"
        placeholder="$"
        v-model.number="monto"
      />
    </div>
    <br />
    <div class="form-group col-md-6">
      <label for="inputEmail">Email</label>
      <input
        type="email"
        class="form-control"
        id="inputEmail"
        placeholder="Email"
        v-model="eMail"
      />
    </div>
    <br />
    <div class="form-group">
      <label for="inputNombre">Nombre</label>
      <div class="row">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Primer nombre"
            v-model="primerNombre"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Segundo nombre"
            v-model="segundoNombre"
          />
        </div>
      </div>
    </div>
    <br />
    <label for="inputApellidos">Aprellidos</label>
    <div class="row">
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Primer apellido"
          v-model="primerApellido"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Segundo apellido"
          v-model="segundoApellido"
        />
      </div>
    </div>
    <br />
    <div class="form-group">
      <label for="inputDireccion">Dirección</label>
      <input
        type="text"
        class="form-control"
        id="inputDireccion"
        placeholder="Direccion"
        v-model="direccion"
      />
    </div>
    <br />
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputDepartamento">Departamento</label>
        <select
          id="inputDepartamento"
          class="form-control"
          v-model="departamento"
        >
          <option selected>Seleccionar...</option>
          <option>Arauca</option>
          <option>Cundinamarca</option>
          <option>Norte de Santander</option>
        </select>
      </div>
    </div>
    <br />
    <div class="form-group col-md-4">
      <div id="v-model-select-dynamic" class="demo">
        <select v-model="metodoPagoSeleccion">
          <option
            v-for="metodoPago in metodosPagos"
            :key="metodoPago.idMetodoPago"
          >
            {{ metodoPago.metodoPago }}
          </option>
        </select>
        <span>Metodo de Pago: {{ metodoPagoSeleccion }}</span>
      </div>
    </div>
    <br />
    <div class="form-group">
      <label for="inputCelular">Celular</label>
      <input
        type="number"
        class="form-control"
        id="inputCelular"
        placeholder="Celular"
        v-model="celular"
      />
    </div>
    <br />
    <input type="submit" value="Submit" />
  </form>
</template>

<script>
import axios from 'axios'

export default {
  // props: {
  //   idemergencia: {
  //     type: Number,
  //     required: true,
  //   },
  //   metodosPagos: {
  //     type: Array,
  //     required: true,
  //   },
  // },
  data() {
    return {
      monto: null,
      primerNombre: '',
      segundoNombre: '',
      primerApellido: '',
      segundoApellido: '',
      direccion: '',
      departamento: '',
      eMail: '',
      celular: null,
      id_emergencia_fk: parseInt(this.$route.params.id),
      metodosPagos: null,
      metodoPagoSeleccion: null,
      metodoPagoSeleccionId: null,
    }
  },

  methods: {
    onSubmit() {
      console.log('onSubmit')
      if (
        this.monto === null ||
        this.primerNombre === '' ||
        this.primerApellido === '' ||
        this.segundoApellido === '' ||
        this.direccion === '' ||
        this.departamento === '' ||
        this.eMail === '' ||
        this.celular === '' ||
        this.id_emergencia_fk === null ||
        this.metodoPagoSeleccion === null
      ) {
        alert('Review is incomplete. Please fill out every field.')
        return
      }

      alert('Gracias por tu aporte :)')

      let donanteDatos = {
        primerNombre: this.primerNombre,
        segundoNombre: this.segundoNombre,
        primerApellido: this.primerApellido,
        segundoApellido: this.segundoApellido,
        direccion: this.direccion,
        departamento: this.departamento,
        eMail: this.eMail,
        celular: this.celular,
        donacionDonante: {
          monto: this.monto,
          id_emergencia_fk: this.id_emergencia_fk,
          id_metodoPago_fk: this.metodoIdMatch(),
        },
      }
      console.log('donanteDatos: ', donanteDatos)
      this.enviarDonacion(donanteDatos)
    },
    //'https://back-donaciones-co.herokuapp.com/api/Donantes/',
    enviarDonacion(donanteDatos) {
      axios
        .post(
          'https://back-donaciones-co.herokuapp.com/api/Donantes/',
          donanteDatos
        )
        .then((result) => {
          console.log('result: ', result)
        })
        .catch((error) => {
          console.log(error)
        })
    },

    metodoIdMatch() {
      for (let x = 0; x < this.metodosPagos.length; x++) {
        if (this.metodosPagos[x].metodoPago == this.metodoPagoSeleccion) {
          return this.metodosPagos[x].idMetodoPago
        }
      }
    },
  },

  created() {
    axios
      .get('https://back-donaciones-co.herokuapp.com/api/MetodoPago/')
      .then((result) => {
        this.metodosPagos = result.data
        console.log('metodosPagos: ', this.metodosPagos)
      }),
      console.log('id_emergencia_fk: ', this.id_emergencia_fk)
  },
}
</script>

<style>
form {
  margin: 20px 50px;
}
</style>