<template>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapseOne"
        aria-expanded="false"
        aria-controls="flush-collapseOne"
      >
        <img class="emergencia-imagen" :src="imagenSRC" />
        <h2>{{ emergencia.nombreEmergencia }}</h2>
      </button>
    </h2>
    <div
      id="flush-collapseOne"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingOne"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        <div class="accordion-content-bar">
          <div>
            <h3>
              Con tu ayuda podemos llegar a ${{ emergencia.montoObjetivo }}
            </h3>
          </div>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              :style="{ width: porcentajeString }"
              :aria-valuenow="{ porcentaje }"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              {{ porcentajeString }}
            </div>
          </div>
          <div class="accordion-content">
            <div class="accordion-text">
              <p>
                Placeholder content for this accordion, which is intended to
                demonstrate the <code>.accordion-flush</code> class. This is the
                third item's accordion body. Nothing more exciting happening
                here in terms of content, but just filling up the space to make
                it look, at least at first glance, a bit more representative of
                how this would look in a real-world application.
              </p>
            </div>
            <router-link
              :to="{
                name: 'DonacionFormato',
                params: {
                  id: emergencia.idEmergencia,
                },
              }"
            >
              <a class="btn btn-warning" href="#" role="button">Donar</a>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  name: 'EmergenciaCard',
  props: {
    emergencia: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      porcentaje: null,
      porcentajeString: null,
      imagenSRC: this.emergencia.url_imagen,
      idEmergencia: this.emergencia.idEmergencia,
      imagenes: [
        { id: 1, image: require('../assets/inundacion.jpg') },
        {
          id: 2,
          image: require('../assets/incendio.jpg'),
        },
      ],
    }
  },

  methods: {
    porcentajeAvance(montoRecaudado, montoObjetivo) {
      let temporal = (montoRecaudado * 100) / montoObjetivo
      this.porcentaje = Math.round(temporal)
      this.porcentajeString = this.porcentaje.toString() + '%'
    },
  },

  created() {
    this.porcentajeAvance(
      this.emergencia.montoRecaudado,
      this.emergencia.montoObjetivo
    )
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.container {
  margin-right: 0;
  margin-left: 0;
}

.emergencia-imagen {
  height: 400px;
  width: 700px;
  margin-right: 10%;
  box-shadow: 10px 8px 5px rgb(192, 190, 190);
}

.logo {
  width: 5em;
  height: 5em;
  margin: auto;
}

.accordion-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-text {
  text-justify: auto;
  width: 80%;
}

h3 {
  margin-top: 0;
  margin-bottom: 15px;
}
</style>

